*, *::before, *::after {
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

ul {
    display: block;
    list-style: none;
}

li {
    display: inline;
    font-size: 75px;
    padding: 0 5px;
    margin: 10px 0;
}

input {
    height: 30px;
    margin: 10px;
}

.tries {
    position: relative;
    margin: 10px;
}